/* lato-100 - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/lato-v23-latin-ext_latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-100.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-100.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-100italic - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/lato-v23-latin-ext_latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-100italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-300 - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/lato-v23-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-300italic - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/lato-v23-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lato-v23-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-italic - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/lato-v23-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lato-v23-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700italic - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/lato-v23-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900 - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/lato-v23-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900italic - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/lato-v23-latin-ext_latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/lato-v23-latin-ext_latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lato-v23-latin-ext_latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lato-v23-latin-ext_latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lato-v23-latin-ext_latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
}

.masthead {
  margin-bottom: initial;
  padding: 20px 0;
  color: #fff;
  background:rgb(21, 113, 170);
}

.navbar {
  position: relative;
  min-height: 160px;
  /*margin-bottom: 20px;*/
  border: 1px solid transparent;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
  background-color: rgb(21, 113, 170);
}


.account-masthead .account ul li {
  display: block;
  float: left;
  border-left: 1px solid rgb(169,170,172);
}

.account-masthead {
  min-height: 30px;
  color: #fff;
  background-color: rgb(21, 113, 170);
  /*background: #003647 url("../../../base/images/bg.png");*/

}

.account-masthead .account ul li a {
  display: block;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 31px;
}

.account-masthead .account ul li a:hover {
  color: white;
  background-color: rgb(169,170,172);
  text-decoration: none;
}

.account-masthead .account .notifications a:hover span {
  color: #fff;
  background-color: rgb(169,170,172);
}

.account-masthead .account .notifications a span.badge {
  font-size: 12px;
  margin-left: 3px;
  padding: 1px 6px;
  background-color: rgb(169,170,172);
  border-radius: 4px;
  text-shadow: none;
  color: white;
}

html {
  /*font-family: "Lato",Helvetica,Arial,sans-serif;*/
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  color: rgb(26,23,27);
  background-color: #fff;
}

.masthead .logo img {
  max-height: 120px;
}

.custom-header .background-img {
  width: 100%;
  z-index: -1;
}

.main {
    padding-top: 10px;
    background: rgb(218, 224, 227);
    /*background: rgb(169,170,172);*/
}

.btn-primary {
  color: #fff;
  background-color:  rgb(33,147,201)
}

.homepage.layout-berlintxl .stats {
    margin-top: 0px;
}

.homepage.layout-berlintxl .module-search {
    margin-top: 20px;
}

.homepage.layout-berlintxl .box {
    margin-top: 20px;
}

.homepage.layout-berlintxl .module-content {
    padding: 20px;
}

.homepage .stats ul li {
  font-weight: 400;
}

a:hover, a:focus {
  color: rgb(21,113,170);
  text-decoration: underline;
}

a.tag:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgb(33,147,201);
  border: 1px solid rgb(21, 113, 170);
  -webkit-box-shadow: inset 0 1px 0 rgb(21, 113, 170);
  box-shadow: inset 0 1px 0 rgb(21, 113, 170);
}

.nav-item.active > a, .nav-aside li.active a {
  position: relative;
  color: #FFF;
  background-color: rgb(21,113,170);
}

.account-masthead .account ul li a.sub {
  font-weight: 600;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: rgb(21, 113, 170);
  border-color: rgb(21, 113, 170);
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: rgb(21, 113, 170);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pill {
  display: inline-block;
  background-color: rgb(21, 113, 170);
  color: #FFF;
  padding: 2px 10px 1px 10px;
  margin-right: 5px;
  font-weight: normal;
  border-radius: 100px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgb(169,170,172);
  border-radius: 10px;
}

.nav-item.active > a:hover, .nav-aside li.active a:hover {
  color: #FFF;
  background-color: rgb(21,113,170);
}

.site-footer a {
  color: white;
}

.site-footer, .site-footer label, .site-footer small {
  color: white;
}

.site-footer ul li a.black {
  color: black;
}

a {
  color: rgb(33,147,201);
}

.btn-success {
  color: #fff;
  background-color: rgb(33,147,201);
  border-color: rgb(21, 113, 170);
}

.btn-success:hover {
  color: #fff;
  background-color: rgb(21, 113, 170);
  border-color: rgb(21, 113, 170);
}

.stages {
  margin: 0;
  list-style: none;
  color: rgb(218, 224, 227);
  counter-reset: stage;
  overflow: hidden;
  margin-bottom: 30px;
}
.stages:before, .stages:after {
  display: table;
  content: " ";
}
.stages:after {
  clear: both;
}

.stages li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 27px;
  counter-increment: stage;
  width: 50%;
  background-color: rgb(33,147,201);
  float: left;
  padding: 10px 20px;
  position: relative;
  z-index: 0;
}

.stages li:before {
  border-radius: 14px;
  content: counter(stage);
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 5px;
  font-weight: bold;
  text-align: center;
  color: rgb(33,147,201);
  background-color: rgb(218, 224, 227);
  z-index: 1;
}

.stages li:after {
  left: 0;
  border: solid rgba(237, 237, 237, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color:  rgb(33,147,201);
  border-bottom-color:  rgb(33,147,201);
  border-width: 29px;
  top: 50%;
  margin-top: -29px;
  margin-left: -30px;
}

.stages li.last {
  position: relative;
  right: -1px;
}

.stages li.last,
.stages li.last .highlight {
  border-radius: 0 3px 0 0;
}

.stages li.first:after {
  content: none;
  border: none;
}

.stages li.active:after {
  border-color: rgba(140, 198, 138, 0);
  border-top-color: rgb(21, 113, 170);
  border-bottom-color: rgb(21, 113, 170);
}

.stages li.complete:after {
  border-color: rgba(197, 226, 196, 0);
  border-top-color: rgb(33,147,201);
  border-bottom-color: rgb(33,147,201);
}

.stages.stage-3 li.complete:first-child:after {
  content: none;
}

.stages li.active,
.stages li.complete {
  background: none;
}

.stages li.active::before {
  color: rgb(21, 113, 170);
  background: #fff;
}

.stages li.complete::before {
  color: rgb(33,147,201);
  background: rgb(218, 224, 227);
}

.stages li .highlight {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 52px;
  border: none;
  text-align: left;
  text-decoration: none;
  line-height: 27px;
  z-index: -1;
}

@media (max-width: 991px) {
  .stages li .highlight {
    text-indent: -9999px;
  }
}
.stages li.active .highlight {
  color: #fff;
  background: rgb(21, 113, 170);
}

.stages li.complete .highlight {
  color: rgb(218, 224, 227);
  background: rgb(33,147,201);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(21, 113, 170);
  border-color: rgb(21, 113, 170);
}


  #s2id_field-add_group {
    max-width: 220px;
  }
  
  #s2id_field-add_group .select2-choice {
    min-height: 28px;
  }

  .select2-results .select2-highlighted {
    background: rgb(21,113,170);
    color: #fff;
  }
    
  .homepage .module-search .module-content {
    background: rgb(33,147,201)
  }
  
  .homepage .module-search .tags {
    background: rgb(21,113,170)
  }
  
  .masthead {
    background: rgb(33,147,201)
  }
  
  .masthead .navigation .nav-pills li.active a {
    background: rgb(21,113,170)
  }
  
  .masthead .btn-navbar[disabled] {
    background: rgb(21,113,170)
  }
  
  .site-footer {
    background: rgb(33,147,201)
  }
  
  .site-footer .navigation .nav-pills li.active a {
    background: rgb(21,113,170)
  }
  
  .site-footer .btn-navbar[disabled] {
    background: rgb(21,113,170)
  }
  
  body {
    background: rgb(33,147,201)
  }
  
  th[scope="col"] {
    background: rgb(21,113,170);
    color: white;
  }
  
  .control-label {
    -webkit-hyphens: manual;
  }
  
  /* User Organzation List */
  
  .org-list ul {
    list-style-type: none;
    margin: 0px;
  }

@media (min-width: 768px) {
    .nav-item.active > a::before, .nav-aside li.active a::before {
      content: ' ';
      position: absolute;
      border: 20px solid transparent;
        border-right-color: transparent;
        border-right-style: solid;
        border-right-width: 20px;
        border-left-color: transparent;
        border-left-width: 20px;
      border-right: none;
      border-left-color: rgb(21,113,170);
      border-left-width: 6px;
      top: 0;
      bottom: 0;
      right: -6px;
      width: 6px;
      height: 34px;
    }
}
