<div role="main" class="main">
    <div class="container">
      <div class="row custom-header">
        <div class="col-md-6 col1">
          {% block custom_introduction %}
            {% snippet 'home/snippets/custom_introduction.html' %}
          {% endblock %}
        </div>
        <div class="col-md-6 col2">
          {% block stats %}
            {% snippet 'home/snippets/stats.html' %}
          {% endblock %}
          {% block search %}
            {% snippet 'home/snippets/search.html' %}
          {% endblock %}
          {% block featured_organization %}
            {% snippet 'home/snippets/featured_organization.html' %}
          {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>