{% set intro = g.site_intro_text %}

<div class="module-content box">
  <div>
    {% if intro %}
      <h3 class="page-heading">{{ intro }}</h3>
    {% else %}
      <h3 class="page-heading">{{ _("Welcome to CKAN") }}</h3>
        <p>
          {% trans %}This is a nice introductory paragraph about CKAN or the site
          in general. We don't have any copy to go here yet but soon we will
          {% endtrans %}
        </p>
    {% endif %}
  </div>  
  <div>
    <p>
    {% block home_image %}
      <section class="featured media-overlay hidden-xs">
        {% block home_image_content %}
          <a class="media-image" href="#">
            <img class="img-responsive" src="{{ h.url_for_static('/Netzbild_CM.png') }}" alt="Gesamtgelände des ehemaligen Flughafen Berlin Tegel" width="420" height="220" />
          </a>
        {% endblock %}
      </section>
    {% endblock %}
   </p>
  </div>
  <div>
    <h4 class="page-heading">FUTR HUB – Das Kompetenzzentrum für urbane Daten</h4>
    <p>Die intelligente Digitalisierung von Städten verbessert die Lebensqualität, schont Ressourcen und macht urbanes Wohnen und Wirtschaften nachhaltiger. Berlin TXL soll für die deutsche Hauptstadt ein Vorreiter auf dem Weg zu einer Smart City werden, dafür brauchen die smarten Quartiere von Berlin TXL nicht nur eine digitale Infrastruktur, sondern auch Orte für Innovationen und ein Partner-Netzwerk für die sinnvolle und sichere Nutzung von urbanen Daten. Entwickelt wird die digitale Infrastruktur für Berlin TXL und Smart Cities weltweit im FUTR HUB, dem Kompetenzzentrum für urbane Daten.</p>
    <h4 class="page-heading">Kern des FUTR HUB: Die Plattform für urbane Daten</h4>
    <p>Zentrale Infrastruktur des FUTR HUB ist eine Datenplattform, die urbane Daten zusammenführen, vernetzen und bereitstellen wird. Urbane Daten können zum Beispiel aus Sensoren in Gebäudelüftungen, Ampeln oder Ladesäulen stammen. Basierend auf einer Geodaten-Infrastruktur, welche z. B. die Planungsunterlagen für Berlin TXL beinhaltet, wird das System schrittweise mit einem IoT-System zusammengeführt und zu einer vollumfänglichen Daten-Plattform zu Themen wie Energie, Mobilität und Smart Nature weiterentwickelt.</p>
    <p>Dies ist der Metadatenkatalog der Tegel Projekt GmbH, also die Sammlung von Daten über Daten, in der wir sowohl die Metadaten interner Daten abbilden, aber auch urbane Daten der Öffentlichkeit bereitstellen.</p>
  </div>
</div>
