{% ckan_extends %}

{# replaced original "about" nav link with "contact" page which is managed by pages extension #}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
      ('dataset.search', _('Datasets')),
      ('organization.index', _('Organizations')),
      ('group.index', _('Groups')),
    ) 
  }}
  <li><a href="{{ h.url_for('pages_show', page='about') }}">{{ _('About') }}</a></li>
    
{% endblock %}
